footer{
    height: 250px;
    display: flex;
    flex-direction: row;

    background-color: var(--backgroundColor);
}
#kontaktBox{
    height: 200px;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;

    background-image: linear-gradient(var(--imagesBackgrounds),var(--imagesBackgrounds));
    background-size: 100% 200px;
    background-position: top;
    background-repeat: no-repeat;
}
#kontaktBox h2{
    margin-bottom: 20px;
    color: var(--headlineTextColor);
}
#sozialMediaIcons{
    width: 100%;       
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;

    text-decoration: none;
    list-style: none;
}
.imgIcon{
    max-height: 70px;
    min-height: 30px;
    max-width: auto;
    min-width: auto;
    transition: 0.5s ease-in-out;
}
.imgIcon:hover{
    transform: scale(1.1);
}

/* Impressum Box */
#impressumBox{
    width: 100%;
    padding-left: 5px;

    background-image: linear-gradient(var(--darkerBackgroundColor),var(--darkerBackgroundColor));
    background-size: 100% 50px;
    background-position: top;
    background-repeat: no-repeat;
}
#impressumBox h3{
    margin-top: 50px;
}
.impressumImg{
    width: 20px;
    height: 20px;
}
#impressumBox .tableDate{
    padding-left: 10px;
}

@media(max-width:800px){
    footer{
        flex-direction: column;
        margin-top: 0px;
    }
    #kontaktBox{
        min-width: 100%;
        padding-top: 10px;
        padding-bottom: 0;

        background-image: none;
        background-color: var(--imagesBackgrounds);
    }
    #sozialMediaIcons{
        min-width: 100%;
    }
    #impressumBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        padding-bottom: 50px;
        margin-top: 0px;

        background-image: none;
        background-color: var(--backgroundColor);
    }
    #impressumBox #impressumDates{
        padding-top: 10px;
    }
    
}
