header{
    height: 100%;
    width: 100%;

    background-image: url(/images/background-images/fp-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

nav{
    width: 100%;
    height: var(--navHeight);
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 2;

    background-color: var(--backgroundColor);
    box-shadow: 0px 1px 5px 0px black;
}
.navLogo{
    height: var(--navHeight);
    width: var(--navHeight);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.navLogo img{
    height: calc(100% - 5px);
    width: calc(100% - 5px);
}
.navLogo:hover{
    filter: drop-shadow(1px 1px 1px var(--accentBackgroundColor));
}

/* Nav Links*/

#navBox{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
}
nav li{
    width: var(--navLinksWidth);
    height: var(--navHeight);
    
    list-style: none;
    cursor: pointer;
}
nav li a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
}
nav li:hover{
    background-color: var(--accentBackgroundColor);
}

/*Nav Dropdown Menü*/

.expandableLi{
    width: var(--navLinksWidth);
    height: var(--navHeight);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.expandableLi input{
    width: 100%;
    height: 100%;
    display: none;
}
.expandableLi label{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.expandableLi label img{
    height: 70%;
    width: auto;
}
.dropdown{
    display: none;
    flex-direction: column;
    position: absolute;
    top: var(--navHeight);

    background-color: var(--backgroundColor);
}
.dropdown li{
    height: calc(var(--navHeight) - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown li img{
    width: 30%;
    height: auto;
}
.expandableLi:hover .dropdown{
    display: flex;
}

/*Dark Mode Button*/

#liDarkMode{
    cursor:default;
}
#darkModeLabel{
    width: 70px;
    height: 35px;
    position: relative;
    display: block;

    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.8s;
}
#darkModeLabel:after{
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: 3px;
    left: 3px;

    background: linear-gradient(180deg, rgb(199, 171, 15),rgb(206, 142, 23));
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0,2);
    transition: 0.8s;
}
#darkModeCheckbox{
    width: 0px;
    height: 0px;
    display: none;
    visibility: hidden;
}
#darkModeCheckbox:checked + #darkModeLabel{
    background: rgb(73, 71, 71);
}
#darkModeCheckbox:checked + #darkModeLabel:after{
    left: 67px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, black, grey)
}
#liDarkMode{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--backgroundColor);
    list-style: none;
}


/* Responsivität */

#toggleButton{
    display: none;
}
.toggleButton{
    height: 30px;
    width: 24px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 15px;
    right: 20px;

    cursor: pointer;
}
.bar{
    height: 4px;
    width: 100%;

    background-color: var(--textColor);
    border-radius: 100px;
}


@media(max-width:850px){
    header{
        --navHeight: 60px;
    }
    .toggleButton{
        display: flex;
    }
    #toggleButton:checked ~ #navBox{
        display: flex;
    }
    #navBox{
        width: 100%;
        display: none;
        flex-direction: column;
        position: absolute;
        top: var(--navHeight);

        background-color: var(--backgroundColor);
    }
    nav li{
        width: 100%;
    }

    /*Dropdown - Menü*/
    .expandableLi{
        width: 100%;
        display: block;
    }
    .expandableLi label{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;
    }
    .dropdown li img{
        height: 70%;
        width: auto;
    }
    .expandableLi:hover .dropdown{
        display: none;
    }
    #liDarkMode{
        width: 100%;
        z-index: 2;
    }

    /*Wenn LanguagesCheckbox ist Checked*/
    #languagesCheckbox:checked ~ .dropdown{
        display: flex;
        z-index: 1;
    }
    .dropdown{
        width: 100%;
        background-color: var(--darkerBackgroundColor);
    }
    #headerOpener{
        padding-bottom: 0px;
    }
}


/* Header Content */

#headerContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#headerOpener{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 90px;

    background-image: linear-gradient(var(--darkerBackgroundColor),var(--darkerBackgroundColor));
    background-size: 100% 30%;
    background-position: bottom;
    background-repeat: no-repeat;
}
#headerOpener img{
    max-width: 500px;
    min-width: 200px;
}


@media(max-width:370px){
    #headerOpener img{
        width: 260px;
    }
}

@media(max-height:740px){
    #headerOpener{
        padding-bottom: 20px;
    }
    #headerOpener img{
        width: 350px;
    }
}
@media(max-height:900px){
    #headerOpener{
        padding-bottom: 30px;
    }
}