#sectionAboutMe{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;

    background-color: var(--darkerBackgroundColor);
}
#aboutMeImg{
    width: 100%;
    display: none;
    justify-content: center;
}
#aboutMeImg img{
    max-width: 280px;
    min-width: 180px;
    padding-left: 69px;
    padding-right: 69px;
}


/* Background Image Section One */
#sectionAboutMe #secOneBgImg{
    width: 60vw;
    max-height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 10px solid var(--imagesBackgrounds);
    transition: all 0.5s ease-in-out;
}
#secOneBgImg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}
#secOneBgImg .secOneBgButton{
    width: var(--widthArrows);
    height: var(--widthArrows);
    cursor: pointer;
}
#secOneBgImg #BgButtonLeft{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0%,-50%);
    transition: 0.3s ease-in-out;
}
#secOneBgImg #BgButtonRight{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0%,-50%);
    transition: 0.3s ease-in-out;
}
#timeBarBar{
    height: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
    
    backdrop-filter: blur(2px) saturate(200%);
    -webkit-backdrop-filter: blur(2px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.26);
    border-top: solid 1px black;
}
#timeBarBar #timeBar{
    width: 0%;
    height: 100%;

    background-color: var(--textBoxBackgroundColor);
}
/* Möglichkeit Change Button Hover zu geben
#secOneBgImg:hover #BgButtonLeft{
    width: var(--widthArrows);
    height: var(--widthArrows);
    border: solid 0.5px black;
    border-radius: 10px;
    cursor: pointer;
}
#secOneBgImg:hover #BgButtonRight{
    width: var(--widthArrows);
    height: var(--widthArrows);
    border: solid 0.5px black;
    border-radius: 10px;
    cursor: pointer;
}
*/

/* About Me Text */
#sectionAboutMe #secOneText{
    width: 30vw;

    background-color: var(--textBoxBackgroundColor);
}

#secOneText{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.secOneFont{
    padding-left: 10px;
    margin-top: 20px;
    white-space: nowrap;
}
#secOneText h2{
    font-size: 50px;
    color: var(--headlineTextColor);
}
#secOnePoem{
    line-height: 150%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#secOnePoem p{
    text-align: center;
}



/*
@media(max-width:400px){
    #secOneBgImg .secOneBgButton{
        --widthArrows: 30px;
    }
}
*/
@media(max-width:1128px){
    #aboutMeImg{
        display: flex;
        margin-bottom: 20px;
    }
    
    /*Bg Img*/
    
    #sectionAboutMe #secOneBgImg{
        width: 100%;
    }
    #sectionAboutMe #secOneText{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #secOneText #test{
        height: 0px;
        visibility: hidden;
    }
    .secOneFont{
        padding-left: 0px;
    }
}
@media(max-width:400px){
    #sectionAboutMe{
        padding: 0px;
    }
    #secOneBgImg{
        padding: 0px;
    }
    #secOneBgImg img{
        padding: 0px;
    }
    #secOneText{
        padding: 0px;
    }
    #secOneText .secOneFont{
        padding: 0px;
    }
    #secOnePoem{
        padding: 0px;
    }
    #secOnePoem p{
        font-size: 13px;
    }
}
@media(max-width:330px){
    #secOnePoem p{
        font-size: 12px;
    }
}
@media(max-width:310px){
    #secOnePoem p{
        font-size: 11px;
    }
}
@media(max-width:270px){
    #secOnePoem p{
        font-size: 10px;
    }
}
