#sectionProjects{
    height: auto;
    padding-top: 80px;
}
#sectionProjects .h2{
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;

    background-color: var(--imagesBackgrounds);
    color: var(--headlineTextColor);
    font-size: 30px;
}
#pTag{
    display: flex;
    justify-content: center;
}
#sectionProjects #pTag p{
    width: 1000px;
    margin-top: 20px;
    padding: 5px;
    text-align: center;

    color: black;
    background-color: var(--imagesBackgrounds);
    border-radius: 20px;
}
#secTwoContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
#gridBox{
    height: 650px;
    width: 1300px;
    padding: 10px;

    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    grid-template-areas:
    "eins eins eins zwei"
    "sechs fünf vier drei";
    
    background-color: var(--backgroundColor);
    border: solid;
    border-color: black;
}
.gridObject{
    background-color: rgb(82, 49, 82);
    border: solid;
    border-color: black;
    overflow: hidden;
}
.projectsLink{
    width: 100%;
    height: 100%;
    transition: 2s ease-in-out;
}
/* Zoom in/out bei den Images, wäre jedoch zu viel Bewegung */
.gridObject .projectsLink:hover > img{
    transform: scale(1.2);
}

.gridImg{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    transition: 2s ease-in-out;
    overflow: hidden;
}
.item1{
    grid-area: eins;
    position: relative;
}
.item2{
    grid-area: zwei;
    position: relative;
}
.item3{
    grid-area: drei;
    position: relative;
    background-color: #146dba;
}
.item3 a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item3 img{
    max-width: 300px;
    min-width: 150px;
    height: auto;
}
.item4{
    grid-area: vier;
    position: relative;
}
.item5{
    grid-area: fünf;
    position: relative;
}
.item6{
    grid-area: sechs;
    position: relative;
}

.overlay{
    width: 100%;
    height: 60px;
    position:absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;    
}
.overlayObject{
    height: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;

    backdrop-filter: blur(2px) saturate(200%);
    -webkit-backdrop-filter: blur(2px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.26);
    border: solid 1px black;
    transition: 0.4s ease-in-out;
}
.overlayObject p{
    text-align: center;
}

.gridObject:hover .overlayObject{
    height: 100%;
    visibility: visible;
}

@media(max-width:1400px){
    #sectionProjects{
        height: auto;
    }
    #gridBox{
        width: 1000px;
        height: 500px;
    }
    .item3 img{
        max-width: 200px;
        height: auto;
    }
}
@media(max-width:750px){
    #sectionProjects{
        padding-bottom: 150px;
    }
    #gridBox{
        height: 700px;
        width: 900px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "eins eins"
        "drei vier"
        "fünf sechs"
        "zwei zwei";
    }
    .item4 #imgPi-Hole-Media{
        grid-area: zwei;
    }
    .overlay{
        height: 40px;
    }
    .overlayObject{
        height: 100%;
        visibility: visible;
    }
    .item3 img{
        max-width: 150px;
        min-width: 100px;
        height: auto;
    }
}